@import "tailwindcss";

@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

body {
  font-family: "Yu Gothic", "Hiragino Kaku Gothic Pro", Helvetica, Arial,
    sans-serif;
  background: repeating-linear-gradient(
    135deg,
    #f0f0f0,
    #f0f0f0 16px,
    #e8e8e8 16px,
    #e8e8e8 20px
  ) !important;
  overflow-y: scroll;
}

/* Fix zoom on input focus on iOS */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
